/* BACKGROUND COLOR SWITCH CSS START  */
input:hover {
  border: 1px solid black !important;
}

input:focus {
  border: 1px solid black !important;
}

.theme-option {
  max-width: 800px;
  margin: 0 auto;
  text-align: right;
  padding: 20px 0;
}

.theme-option div {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  margin: 2px 10px;
  border: 1px solid #fff;
  display: inline-block;
  opacity: 0.5;
}

.theme-option div .active {
  opacity: 1;
}

ul #myTab li {
  display: inline !important;
}
.nav-tabs{
  border: none;
}

.thumbnail {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px 20px;
  margin: 10px 0;
  border-radius: 8px;
  cursor: pointer;
}

#image-tab {
  padding: 40px !important;
  margin: 10px;
  background-image: url("./images/bg-img.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
}

#color-tab {
  padding: 40px !important;
  margin: 10px 0;
  background: rgb(217, 101, 245);
  background: linear-gradient(
    120deg,
    rgba(217, 101, 245, 1) 38%,
    rgba(168, 16, 140, 1) 76%
  );
  border-radius: 12px;
  box-shadow: 0 0 6px 0 grey;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
}

#theme-img1 {
  background-image: url("./images/thumbnail-bg1.jpg");
}

#theme-img2 {
  background-image: url("./images/thumbnail-bg2.jpg");
}

#theme-img3 {
  background-image: url("./images/thumbnail-bg3.jpg");
}

#theme-img4 {
  background-image: url("./images/thumbnail-bg4.jpg");
}

#theme-img5 {
  background-image: url("./images/thumbnail-bg5.jpg");
}

#theme-img6 {
  background-image: url("./images/thumbnail-bg6.jpg");
}

.content {
  height: 100vh;
  position: relative;
  background-size: 100% 100%;
}

/* WHITE */
.theme-white {
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 1) 27%,
    rgba(215, 215, 215, 1) 65%
  );
  color: #000;
}

/* BLUE  */
.theme-blue {
  background: linear-gradient(
    120deg,
    rgba(108, 175, 236, 1) 38%,
    rgba(70, 103, 159, 1) 76%
  );
}

/* ORANGE  */
.theme-orange {
  background: linear-gradient(
    120deg,
    rgba(236, 183, 108, 1) 38%,
    rgba(231, 95, 11, 1) 76%
  );
}

/* PURPLE */
.theme-purple {
  background: linear-gradient(
    120deg,
    rgba(217, 101, 245, 1) 38%,
    rgba(168, 16, 140, 1) 76%
  );
  color: #000;
}

/* GREEN */
.theme-green {
  background: linear-gradient(
    120deg,
    rgba(110, 255, 197, 1) 29%,
    rgba(38, 164, 117, 1) 71%
  );
}

/* BLACK */
.theme-black {
  background: linear-gradient(
    120deg,
    rgba(189, 188, 188, 1) 0%,
    rgba(59, 59, 59, 1) 63%
  );
}

.content.theme-img1 {
  background-image: url("./images/bg1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content.theme-img2 {
  background-image: url("./images/bg2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content.theme-img3 {
  background-image: url("./images/bg3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content.theme-img4 {
  background-image: url("./images/bg4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content.theme-img5 {
  background-image: url("./images/bg5.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content.theme-img6 {
  background-image: url("./images/bg6.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.dropdown-box {
  position: absolute;
  border-radius: 6px;
  width: 256px;
  color: #000;
  padding: 10px;
  right: 10px;
  top: 58px;
  z-index: 99;
  background-color: #fff;
  border: 1px solid grey;
}

.menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-box li {
  list-style: none;
}

.menu-list li {
  cursor: pointer !important;
}

.dropt-btn button {
  background-color: transparent !important;
  border: none !important;
  font-size: 26px;
  font-weight: bold;
  margin-left: auto !important;
}

/* BACKGROUND COLOR SWITCH CSS END  */

.nav-container {
  /* background-color: rgb(191, 191, 233); */
  background-color: #ffffff;
  border-bottom: 2px solid #efefef;
}

img.toggle-btn {
  width: 100%;
}

/* edit icon styling start */
.cardsItem {
  color: #ffffff;
  border-radius: 5px;
  max-height: calc(100vh - 239px);
  overflow-y: auto;
}

.cardsItem div {
  background-color: #ffffff;
}

.addItem input {
  border: none;
  outline: none;
  font-size: 14px;
}

.btn-plus-add {
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;

  border: 1px solid #ebebeb !important;
  border-radius: 6px !important;
}

.btn-plus-add:hover {
  background-color: rgb(161, 161, 161) !important;
  color: white;
}

.singleItem img {
  width: 20px;
  height: 20px;
}

.singleItem:hover {
  border: 1px solid rgb(117, 117, 117);
}

.singleItem:hover img {
  display: block !important;
  transition: all ease-in-out;
  cursor: pointer;
}

/* edit icon styling end*/

/* board scroll css start */
.nav-container {
  height: 50px;
}

.close_board_scroll {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100vw;
  height: calc(100vh - 110px);
  margin-inline: 2px !important;
}

.open_board_scroll {
  overflow-x: auto;
  overflow-y: hidden;
  height: calc(100vh - 110px);
  width: calc(100vw - 240px);
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background-color: #ebe8e8;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 15px;
}

/* board scroll css end */

/* inner nav style start */

.navbar {
  background-color: rgb(245, 245, 245);
  border: none;
}

.navbar-brand {
  text-transform: capitalize;
  font-weight: 700 !important;
  font-size: 18px !important;
}

.inner-nav-menus {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.inner-nav-menus li:nth-child(1) img {
  width: 20px;
  cursor: pointer;
}

.inner-nav-menus li:nth-child(2):hover {
  background-color: #f1f1f1;
  cursor: pointer;
  border-radius: 8px;
}

/* inner nav style end */

.main-container {
  position: relative;
}

.sidebar_inner_container {
  width: 240px;
  height: 100vh;
  background-color: #ffffff;
  border-right: 4px solid #efefef;
  padding: 4px;
}

.show_sidebar {
  display: block;
}

.hide_sidebar {
  display: none;
}

.sidebar-toggle-btn {
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.modal {
  top: 25% !important;
  border-radius: 0 !important;
}

.modal-update {
  top: 40% !important;
  left: 40% !important;
  width: 280px;
}

.modal-dialog {
  border-radius: 0 !important;
}
.modal-content {
  border-radius: 0 !important;
}
.modal-body .btn-plus-add {
  background-color: rgb(255, 255, 255) !important;
  color: black !important;
}
.modal-body .btn-plus-add:hover {
  background-color: rgb(161, 161, 161) !important;
  color: white !important;
}

.modal-body button {
  font-size: 14px;
  background-color: #157afe !important;
}

.modal-body button:hover {
  background-color: #034aa8 !important;
}

.rounded-circle {
  width: 40px !important;
  height: 40px !important;
}

.rounded-circle-member {
  width: 30px !important;
  height: 30px !important;
  border-radius: 100%;
}

.plus-member:hover {
  color: black !important;
}

.icon {
  width: 50px;
  height: 50px;
}

/* list description modal box style starts here */
.modal-2 {
  background: transparent !important;
  height: 100% !important;
  top: 0% !important;
  width: 90% !important;
}

.modal-2 .modal-content {
  width: 50vw !important;
}

.create-dropdown .dropdown-toggle::after {
  display: none !important;
}

.create-dropdown {
  position: relative !important;
}

.dropdown-menu {
  border: none !important;
  box-shadow: 0 4px 8px 0 rgba(83, 83, 83, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-width: 250px !important;
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  margin-left: 100% !important;
  margin-top: 12px !important;
  background-color: #fff !important;
}

.all_checked {
  background-color: rgb(36, 156, 36) !important;
  color: #ffffff !important;
  padding-inline: 5px;
  padding-block: 1px;
  border-radius: 4px;
  margin-top: 2px;
  font-size: 14px;
}

.not_all_checked {
  background-color: rgb(224, 224, 224) !important;
}

.btn-save {
  border: none !important;
  outline: none !important;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 35px;
  background-color: #9cabbe !important;
}
.modal-body button.btn-danger{
  background-color: #dc3545 !important;
}
.modal-body button.btn-danger:hover{
  background-color: #b51e2d !important;
}

.focus:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid black !important;
}

/* list description modal box style ends here */

/* ***************************************************** */

.listItem-title {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 600 !important;
}

.listItem-date {
  font-size: 12px;
  color: #7f858b;
  font-weight: 400 !important;
}

.cardItem-title {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400 !important;
}

.listItem-container {
  background-color: #ffffff;
  color: black;
  min-width: 260px;
  height: fit-content;
  border: 1px solid #ebebeb;
  border-radius: 6px;
}

.singleItem {
  border: 1px solid #ebebeb;
  border-radius: 6px;
  margin-bottom: 8px !important;
}

.form-control {
  border: 1.5px solid #ebebeb !important;
  border-radius: 6px !important;
}

.add-list-form {
  background-color: #ffffff;
  min-width: 260px;
  height: fit-content;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  padding: 10px;
}

.add-list-form button {
  width: 100%;
  font-size: 22px;
  font-weight: bold;
  border-radius: 8px;
}

.add-list-form button:hover {
  background-color: #edf6ff;
}

.add-list-input {
  border: 1px solid grey !important;
  background-color: transparent;
}

.card-inner-text {
  font-size: 14px !important;
  font-weight: 400 !important;
}

.rounded-circles {
  border-radius: 100%;
  background-color: #157afe !important;
  width: 30px !important;
  height: 30px !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}

@media (max-width: 767px) {
  .modal-2 .modal-content {
    width: 100vw !important;
  }

  .modal-2 {
    width: 100% !important;
  }

  .dropdown-menu {
    border: none !important;
    min-width: 250px !important;
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    margin-left: 3% !important;
    margin-top: -20% !important;
    height: fit-content;
  }
}
